body {
  margin: 1em;
  position: relative;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-right: 2em;
}

h3 {
  color: green;
}

.control-container {
  border: 0.25em solid gray;
  background-color: white;
  padding: 1em 1em;
  max-height: 90vh;
  width: 100%;
  overflow-y: scroll;
}

ul {
  padding: 0 0;
}

li,
.draggable-object {
  border: 0.15em solid lightblue;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.25em;
  list-style: none;
  cursor: grab;
}

ul,
.sortable-container {
  min-height: 200px;
  padding: 0.5em 0.5em;
  border: 0.15em dashed lightgray;
}

.nested-sortable {
  margin-left: 2em;
  min-height: auto;
}

button {
  font-size: 0.75em;
  background-color: darkblue;
  color: white;
  padding: 1em 0.75em;
  border-radius: 10px;
}
