<div class='control-container'>
  <div style='display: flex; justify-content: space-between;'>
    <h2>Customize Columns</h2>
    <a href='#' {{on 'click' @close}}>CLOSE</a>
  </div>
  <h3>Ember Drag Drop</h3>

  <h5>Frozen Left Columns</h5>
  <SortableObjects
    @sortableObjectList={{this.frozenLeftColumns}}
    @sortEndAction={{this.updateOrder}}
    @enableSort={{true}}
    @useSwap={{true}}
    @inPlace={{false}}
    @sortingScope={{'sortingGroup'}}
    class='sortable-container'
  >
    {{#each this.frozenLeftColumns as |item|}}
      <DraggableObject
        @content={{item}}
        @isSortable={{true}}
        @sortingScope={{'sortingGroup'}}
        @dragEndHook={{this.updateObject}}
      >
        {{item.name}}
        {{#if item.subcolumns.length}}
          <SortableObjects
            @sortableObjectList={{item.subcolumns}}
            @sortEndAction={{this.updateOrder}}
            @enableSort={{true}}
            @useSwap={{true}}
            @inPlace={{false}}
            @sortingScope={{'sortingGroupSub'}}
            class='sortable-container'
          >
            {{#each item.subcolumns as |subitem|}}
              <DraggableObject
                @content={{subitem}}
                @isSortable={{true}}
                @sortingScope={{'sortingGroupSub'}}
              >
                {{subitem.name}}
              </DraggableObject>
            {{/each}}
          </SortableObjects>
        {{/if}}
      </DraggableObject>
    {{/each}}
  </SortableObjects>

  <h5>Body Columns</h5>
  <SortableObjects
    @sortableObjectList={{this.bodyColumns}}
    @sortEndAction={{this.updateOrder}}
    @enableSort={{true}}
    @useSwap={{true}}
    @inPlace={{false}}
    @sortingScope={{'sortingGroup'}}
    class='sortable-container'
  >
    {{#each this.bodyColumns as |item|}}
      <DraggableObject
        @content={{item}}
        @isSortable={{true}}
        @sortingScope={{'sortingGroup'}}
      >
        {{item.name}}
        {{#if item.subcolumns.length}}
          <SortableObjects
            @sortableObjectList={{item.subcolumns}}
            @sortEndAction={{this.updateOrder}}
            @enableSort={{true}}
            @useSwap={{true}}
            @inPlace={{false}}
            @sortingScope={{'sortingGroupSub'}}
            class='sortable-container'
          >
            {{#each item.subcolumns as |subitem|}}
              <DraggableObject
                @content={{subitem}}
                @isSortable={{true}}
                @sortingScope={{'sortingGroupSub'}}
              >
                {{subitem.name}}
              </DraggableObject>
            {{/each}}
          </SortableObjects>
        {{/if}}
      </DraggableObject>
    {{/each}}
  </SortableObjects>

  <h5>Frozen Right Columns</h5>
  <SortableObjects
    @sortableObjectList={{this.frozenRightColumns}}
    @sortEndAction={{this.updateOrder}}
    @enableSort={{true}}
    @useSwap={{true}}
    @inPlace={{false}}
    @sortingScope={{'sortingGroup'}}
    class='sortable-container'
  >
    {{#each this.frozenRightColumns as |item|}}
      <DraggableObject
        @content={{item}}
        @isSortable={{true}}
        @sortingScope={{'sortingGroup'}}
      >
        {{item.name}}
        {{#if item.subcolumns.length}}
          <SortableObjects
            @sortableObjectList={{item.subcolumns}}
            @sortEndAction={{this.updateOrder}}
            @enableSort={{true}}
            @useSwap={{true}}
            @inPlace={{false}}
            @sortingScope={{'sortingGroupSub'}}
            class='sortable-container'
          >
            {{#each item.subcolumns as |subitem|}}
              <DraggableObject
                @content={{subitem}}
                @isSortable={{true}}
                @sortingScope={{'sortingGroupSub'}}
              >
                {{subitem.name}}
              </DraggableObject>
            {{/each}}
          </SortableObjects>
        {{/if}}
      </DraggableObject>
    {{else}}
      Drag in to freeze column right.
    {{/each}}
  </SortableObjects>

  <h5>Hidden Columns</h5>
  <SortableObjects
    @sortableObjectList={{this.hiddenColumns}}
    @sortEndAction={{this.updateOrder}}
    @enableSort={{true}}
    @useSwap={{true}}
    @inPlace={{false}}
    @sortingScope={{'sortingGroup'}}
    class='sortable-container'
  >
    {{#each this.hiddenColumns as |item|}}
      <DraggableObject
        @content={{item}}
        @isSortable={{true}}
        @sortingScope={{'sortingGroup'}}
      >
        {{item.name}}
        {{#if item.subcolumns.length}}
          <SortableObjects
            @sortableObjectList={{item.subcolumns}}
            @sortEndAction={{this.updateOrder}}
            @enableSort={{true}}
            @useSwap={{true}}
            @inPlace={{false}}
            @sortingScope={{'sortingGroupSub'}}
            class='sortable-container'
          >
            {{#each item.subcolumns as |subitem|}}
              <DraggableObject
                @content={{subitem}}
                @isSortable={{true}}
                @sortingScope={{'sortingGroupSub'}}
              >
                {{subitem.name}}
              </DraggableObject>
            {{/each}}
          </SortableObjects>
        {{/if}}
      </DraggableObject>
    {{else}}
      Drag in to hide column.
    {{/each}}
  </SortableObjects>
</div>