<div id='control-container' class='control-container'>
  <div style='display: flex; justify-content: space-between;'>
    <h2>Customize Columns</h2>
    <a href='#' {{on 'click' @close}}>CLOSE</a>
  </div>
  <h3>SortableJS</h3>

  <!-- recursively render sub-column lists with sortable-list component -->
  {{#each-in this.fullColumnList as |list columns|}}
    <h5>{{list}}</h5>
    <SortableList
      @id={{list}}
      @columns={{columns}}
      @groupName='sortable-lists'
      @onAdd={{this.updateOrder}}
      @onUpdate={{this.updateOrder}}
      @scroll={{this.scrollElement}}
    />
  {{/each-in}}

  <!-- the limitation with this approach is cannot recursively add markup for subcolumns -->
  {{!-- {{#each-in this.fullColumnList as |list columns|}}
    <h5>{{list}}</h5>
    <ul
      id={{list}}
      {{set-sortable-list
        uid='sortable-lists'
        onAdd=this.updateOrder
        onUpdate=this.updateOrder
        scrollElement=this.scrollElement
      }}
    >
      {{#each columns as |col|}}
        <li id={{col.id}}>
          {{col.name}}
          {{#if col.subcolumns.length}}
            <ul
              data-parent-list={{list}}
              data-parent-item={{col.id}}
              id='{{col.id}}-subcolumns'
              {{set-sortable-list
                uid='{{col.id}}-subcolumns'
                onUpdate=this.updateOrder
                scrollElement=this.scrollElement
              }}
            >
              {{#each col.subcolumns as |subcol|}}
                <li id={{subcol.id}}>{{subcol.name}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{/each-in}} --}}

  <!-- not dry approach -->
  {{!-- <h5>Frozen Left Columns</h5>
  <ul
    id='frozenLeftColumns'
    {{set-sortable-list
      listElementIds=this.listElementIds
      onAdd=this.updateOrder
      onUpdate=this.updateOrder
    }}
  >
    {{#each this.frozenLeftColumns as |col|}}
      <li id={{col.id}}>
        {{col.name}}
        {{#if col.subcolumns.length}}
          <ul
            data-parent-list='frozenLeftColumns'
            data-parent-item={{col.id}}
            id='{{col.id}}-subcolumns'
            class='nested-sortable'
          >
            {{#each col.subcolumns as |subcol|}}
              <li id={{subcol.id}}>{{subcol.name}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    {{/each}}
  </ul>

  <h5>Body Columns</h5>
  <ul
    id='bodyColumns'
    {{set-sortable-list
      listElementIds=this.listElementIds
      onAdd=this.updateOrder
      onUpdate=this.updateOrder
    }}
  >
    {{#each this.bodyColumns as |col|}}
      <li id={{col.id}}>{{col.name}}
        {{#if col.subcolumns.length}}
          <ul
            data-parent-list='bodyColumns'
            data-parent-item={{col.id}}
            id='{{col.id}}-subcolumns'
            class='nested-sortable'
          >
            {{#each col.subcolumns as |subcol|}}
              <li id={{subcol.id}}>{{subcol.name}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    {{/each}}
  </ul>

  <h5>Frozen Right Columns</h5>
  <ul
    id='frozenRightColumns'
    {{set-sortable-list
      listElementIds=this.listElementIds
      onAdd=this.updateOrder
      onUpdate=this.updateOrder
    }}
  >
    {{#each this.frozenRightColumns as |col|}}
      <li id={{col.id}}>{{col.name}}
        {{#if col.subcolumns.length}}
          <ul
            data-parent-list='frozenRightColumns'
            data-parent-item={{col.id}}
            id='{{col.id}}-subcolumns'
            class='nested-sortable'
          >
            {{#each col.subcolumns as |subcol|}}
              <li id={{subcol.id}}>{{subcol.name}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    {{else}}
      Drag in to freeze column right.
    {{/each}}
  </ul>

  <h5>Hidden Columns</h5>
  <ul
    id='hiddenColumns'
    {{set-sortable-list
      listElementIds=this.listElementIds
      onAdd=this.updateOrder
      onUpdate=this.updateOrder
    }}
  >
    {{#each this.hiddenColumns as |col|}}
      <li id={{col.id}}>{{col.name}}
        {{#if col.subcolumns.length}}
          <ul
            data-parent-list='hiddenColumns'
            data-parent-item={{col.id}}
            id='{{col.id}}-subcolumns'
            class='nested-sortable'
          >
            {{#each col.subcolumns as |subcol|}}
              <li id={{subcol.id}}>{{subcol.name}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    {{else}}
      Drag in to hide column.
    {{/each}}
  </ul> --}}
</div>