<ul
  id={{@id}}
  data-parent-list={{@parentList}}
  data-parent-item={{@parentListItem}}
  {{set-sortable-list
    groupName=@groupName
    fallbackOnBody=true
    onAdd=@onAdd
    onUpdate=@onUpdate
    scroll=@scroll
    scrollSensitivity=80
  }}
>
  {{#each @columns as |col|}}
    <li id={{col.id}}>
      {{col.name}}
      {{#if col.subcolumns.length}}
        <SortableList
          @id='{{col.id}}-subcolumns'
          @columns={{col.subcolumns}}
          @groupName='{{col.id}}-subcolumns'
          @onUpdate={{@onUpdate}}
          @scrollElement={{@scrollElement}}
          @parentList={{@id}}
          @parentListItem={{col.id}}
        />
      {{/if}}
    </li>
  {{/each}}
</ul>