{{page-title 'SortjsTest'}}
<div style='display: flex; flex-wrap: wrap; align-items: center;'>
  <h1>COLUMNS</h1>
  <div>
    <button type='button' {{on 'click' this.toggleSortJsIsOpen}}>Open SortableJS
      Control</button>
    <button type='button' {{on 'click' this.toggleDragDropIsOpen}}>Open Ember
      Drag Drop Control</button>
  </div>
</div>
<div style='display:flex; align-items: start; overflow-x: scroll;'>
  {{#each this.columns as |col|}}
    <div
      style='border: 0.15em solid lightgray; padding: .25em .5em; min-height: 5em;'
    >{{col.name}}
      -
      {{col.id}}
      {{#if col.subcolumns}}
        {{#each col.subcolumns as |subcol|}}
          <div style='margin-left: 2em; font-size: .75em;'>{{subcol.name}}
            -
            {{subcol.id}}</div>
        {{/each}}
      {{/if}}
    </div>
  {{/each}}
</div>

{{#if this._sortJsIsOpen}}
  <div
    style='position: absolute; top: 0px; left: 0px; width: 500px; max-width: 90%;'
  >
    <SortableJsControl
      @columns={{this._columns}}
      @onChange={{action (mut this.columns)}}
      @close={{this.toggleSortJsIsOpen}}
    />
  </div>
{{/if}}

{{#if this._dragDropIsOpen}}
  <div
    style='position: absolute; top: 0px; left: 0px; width: 500px; max-width: 90%;'
  >
    <DragDropControl
      @columns={{this._columns}}
      @onChange={{action (mut this.columns)}}
      @close={{this.toggleDragDropIsOpen}}
    />
  </div>
{{/if}}

{{!-- <div
  style='display: flex; align-items: center; justify-content: space-between; margin: 2em;'
>
  <button
    type='button'
    {{on 'click' this.toggleSortJsIsOpen}}
    style='margin-bottom: 2em;'
  >Open SortableJS Control</button>
  <button
    type='button'
    {{on 'click' this.toggleDragDropIsOpen}}
    style='margin-bottom: 2em;'
  >Open Ember Drag Drop Control</button>
</div>
<div
  style='position: relative; display: flex; align-items: center; justify-content: center; margin: 1em 1em;'
>
  <div style='width: 33%;'>
    {{#if this._sortJsIsOpen}}
      <SortableJsControl
        @columns={{this._columns}}
        @onChange={{action (mut this.columns)}}
      />
    {{/if}}
  </div>
  <div style='width: 33%; margin: 4em;'>
    <h1>COLUMNS</h1>
    {{#each this.columns as |col|}}
      <div>{{col.name}} - {{col.id}}</div>
      {{#if col.subcolumns}}
        {{#each col.subcolumns as |subcol|}}
          <div style='margin-left: 2em; font-size: .75em;'>{{subcol.name}}
            -
            {{subcol.id}}</div>
        {{/each}}
      {{/if}}
    {{/each}}
  </div>
  <div style='width: 33%;'>
    {{#if this._dragDropIsOpen}}
      <DragDropControl
        @columns={{this._columns}}
        @onChange={{action (mut this.columns)}}
      />
    {{/if}}
  </div>
</div> --}}